name: Continuous Integration

on:
  push:
    branches:
      - main
      - renovate/*
  pull_request:
    branches:
      - main
      - "!renovate/*"
  workflow_call:
    inputs:
      version:
        description: Version to build
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: Version to build
        required: true
        type: string

defaults:
  run:
    shell: pwsh

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Run Prettier
        run: pnpm exec prettier --check .

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Set Version
        run: npm version ${{ inputs.version }} --git-tag-version false

      - name: Build
        run: pnpm build

      - name: Pack
        run: pnpm pack --pack-destination ./builds

      - name: Upload Build
        uses: actions/upload-artifact@v6
        with:
          name: Build
          path: ./builds
          retention-days: 1
          if-no-files-found: error

  licence:
    name: Check licences

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Check Licenses
        run: pnpm exec license-cop

  codeql:
    name: CodeQL

    uses: ./.github/workflows/codeql.yml

    secrets: inherit

    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read
